{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Su nombre de usuario o contraseña no coincide, por favor vuelva a intentarlo</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Su cuentano posee acceso a esta página. Para continuar,
    ingrese una cuenta con los privilegios adecuados</p>
    {% else %}
    <p>Por favor realice un login para ver esta página</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Ha perdido la contraseña?</a></p>

{% endblock %}